*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin-top: 6em;
  background-color: #f5f6fa;
}

/* NAVBAR */

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-logo {
  font-size: 1.875rem;
  color: #0290ff;
  font-family: Montserrat, sans-serif;
  margin-left: 2.9em;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.navbar ul li {
  font-family: Montserrat, sans-serif;
  opacity: 0.5;
  letter-spacing: 1.9px;
  color: #f5f6fa;
  font-size: 0.813rem;
  font-style: normal;
  text-transform: uppercase;
}

.nav-link {
  opacity: 0.5;
  color: #121212;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 1;
  color: #0290ff;
}

.nav-link.active {
  opacity: 1;
  font-weight: bold;
}
